[submodule "gutenberg"]
	path = gutenberg
	url = https://github.com/WordPress/gutenberg.git
	shallow = true
[submodule "jetpack"]
	path = jetpack
	url = https://github.com/Automattic/jetpack.git
	shallow = true
[submodule "block-experiments"]
	path = block-experiments
	url = https://github.com/Automattic/block-experiments.git
	shallow = true
