# Xcode IDE
DerivedData/
xcuserdata/

Pods/

# Ruby tooling
vendor/bundle/

# Fastlane automation artifacts
fastlane/README.md
fastlane/report.xml

# XCFramework build process intermediate and output artifacts
build

# This file takes precedence over .xcode.env.
# Developers can use it to set a custom value without having to update .xcode.env after every `pod install`
.xcode.env.local

# This folder is generated at build-time by the `bundle:ios:text` command from the package.json
Gutenberg/Resources/assets/
