/** @format */

@import '../../../variables.scss';

.blockHolder {
	flex: 1 1 auto;
}

.blockContainer {
	background-color: white;
	padding: 8px;
}

.blockTitle {
	background-color: grey;
	padding-left: 8;
	padding-top: 4;
	padding-bottom: 4;
}

.aztec_container {
	flex: 1;
}

.lineStyleAddHere {
	flex: 1;
	background-color: #0087be; // blue_wordpress
	align-self: center;
	height: 2px;
}

.labelStyleAddHere {
	flex: 1;
	text-align: center;
	font-family: $default-monospace-font;
	font-size: 12px;
	font-weight: bold;
}

.containerStyleAddHere {
	flex: 1;
	flex-direction: row;
	background-color: white;
}
